@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

*#toolbar {
	display: none;
}

* {
	height: auto !important;
	overflow: visible !important;

}

ui|scrollbox#scrollbox {
	height: auto !important;
	overflow: visible !important;
}

a.compare {
	display:none;
}

div.print{
	display: block;
}

clickbutton labelbox,
clickbutton labelbody,
clickbutton labeltext {
	float:none;
	height: 16px;
	background: transparent !important;
	box-shadow: none !important;
}

clickbutton labeltext {
	padding: 0px;
	overflow: visible !important;
}

ui|labelbox.entitytitle,
ui|labelbox.entitytitle ui|labelbody,
ui|labelbox.entitytitle ui|labelbody ui|labeltext{
	color: black;
	text-decoration: none;
}