@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|scrollbox#scrollbox {
	background-color: white;
}
ui|scrollbox#scrollbox {
	overflow-y: scroll !important;
}
ui|flexbox#flexbox {
	position: relative;
}
table#versions,
table#headings {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}
table#versions td,
table#headings th {
	padding: 6px 0 6px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	-moz-user-select: none;
}
table#versions td {
	vertical-align: top;
	border-bottom: 1px solid ThreeDLightShadow;
}
table#headings {
	background-color: ThreeDFace;
	border-bottom: 1px solid ThreeDShadow;
	border-top: 1px solid ThreeDHighlight;
	#moz margin-top: 1px; /* should not use margins... */
}
table#headings th {
	text-align: left;
	font-weight: bold;
}
table#versions tr.hilite td {
	background-color: ThreeDFace;	
}
table#versions tr.selected td {
	background-color: Highlight;
	color: HighlightText;
}
table#versions.deactivated tr.selected td {
	background-color: ThreeDLightShadow;
	color: black;
}
td.time,
th.time {
	width: 140px;
	padding-left: 12px !important;
}
td.user,
th.user {
	width: 130px;
}
td.task,
th.task {
	width: 150px;
}
td.activity,
th.activity {
	width: 100px;
}
td.comment,
th.comment {
	width: 100%;
}